
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}
.placeholder-content{
  width: 223px;
  height: 177px;
  overflow: hidden;

}

img {
  // width: 100%;
  // height: 177px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  float: left;

}

.item-card{
  height: 223px;
  width: 223px;
  overflow: hidden;
}
