
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// @media screen and (min-device-width: 680px) and (orientation: portrait), screen and min-device-height: 680px) and (orientation: landscape)

*,
*::before,
*::after {
  box-sizing: border-box;
}
//------uls-----//
ul{
  list-style: none;
}

// containers

.container{
  width: 90%;
  background-color: #F5F5F1;
}
.items-container-window{
  float: right;
}

header{
  background-color: #ffffff;
}

// menus
.sub-nav-row{
  height: 45px;
  border-top: 1px solid #E1E3DF;
  box-shadow: 1px 5px 20px -8px black;
  background-color: #ffffff;
}

.main-content-row{
  margin-top: 30px;
}


.cat-nav-butn{
  display: inline-flex;
  white-space: nowrap;
  height: 45px;
  width: 10%;
  padding-top: 10px;
  text-align: center;
}


.aside{
position: relative;
float: left;
  }
.item-card{
  // height: 225px;
  width: 100%;
  overflow: hidden;
  box-shadow: 1px 1px 1px #888888;
  margin-right: 20px;
  margin-bottom: 15px;
  border-radius: 3px;
  background-color: #ffffff;
  &:hover{
    box-shadow: 2px 2px 1px #888888;

  }
}

.placeholder-content{
  position: relative;
   overflow: hidden;
   padding-bottom: 80%;
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
}

.item-title{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.meta-data{
  background-color: #ffffff;
}

.store-price span{
  padding-left: 10px;
}
.store{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #9A9A9A;
}

.price{
  float: right;
  padding-right: 10px;
  color: #78C042;
}
